// Header

// Navbar
nav {
    // overflow: hidden;
    padding-top: 32px;
    
    @media (max-width: $breakpoint768) {
        padding-top: 18px;
    }
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    a {
        color: white;
    }
}

.menu {
    display: flex;
    gap: 40;

    @media (min-width: $breakpoint1200) {
        gap: 30px;
    }

    // .menu__item
    &__item {
        margin-left: 25px;
    }

    // .menu__item-link
    &__item-link {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        color: var(--secondary-light-color);
        transition: .3s color;

        &:hover {
            color: #000000;
        }
    }
}

.nav {
    &__btns {
        display: flex;
        align-items: center;
        gap: 16px;

        .rounded__btn {
            min-width: 110px;
        }

        @media (max-width: $breakpoint992) {
            margin-left: auto;
            margin-right: 25px;
        }
    }

    @media (max-width: $breakpoint768) {
        &__btn {
            display: none;

            &.active {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                display: block;
                z-index: 3;
                border-radius: 0;

            }
        }
    }
}

.burger {
    display: none;
    cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {
    .navbar {
        justify-content: flex-start;
    }

    // .menu
    .menu {
        position: fixed;
        background: var(--primary);
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;

        &.active {
            display: flex;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 3;
            animation: fade 0.1s linear;
        }
    }

    // .burger
    .burger {
        display: block;
        position: relative;
        height: 20px;
        width: 30px;
        z-index: 102;
        cursor: pointer;

        &.active-burger {
            &:before {
                background: $burgerActiveColor;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                top: 8px;
            }

            &:after {
                background: $burgerActiveColor;
                transform: rotate(-45deg);
                bottom: 10px;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }

            & span {
                transform: scale(0);
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: $burgerColor;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: $burgerColor;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
    }

    // .menu__item
    .menu__item {
        margin-top: 15px;
    }

    // .menu__link
    .menu__item-link {
        color: #ffff;
        font-size: 25px;
    }
}