:root {
    --primary-color: #1D2736;
    --primary-light-color: #1D2736;
    --secondary-color: #677487;
    --secondary-light-color: #717A90;
    --contrast-color: #F0998D;

    --background: #FFFFFF;
    --primary: #F0998D;
    --primary-light: #FFF0EC;
    --secondary: #FD7461;
    --block1: #FDF9F8;
    --block2: #F9F7FC;
    --block3: #FFFAFE;
    --footer: #3B434F;

    --neutral: #a7a7a7;
    --neutral-dark: #888888;
    --burger: #f4f4f4;
}