:root {
    --primary-color: #fff;
    --background: #212121;
    --primary: #355915;
    --secondary: #2e2330;
    --secondary-light: #a5a5a5;
    --neutral: #a7a7a7;
    --neutral-dark: #888888;
    --block: #191919;
    --burger: #f4f4f4;
}