*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: $fontMain;
}

// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body Locked
body {
    font-family: 'Metropolis';
    height: 100%;
    position: relative;
    font-size: 1rem;
    background: var(--background);

    &.locked {
        overflow: hidden;
    }
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.rounded {

    &__btn {
        padding: 12px 24px;
        background: var(--primary-light);
        border-radius: 50px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: var(--secondary);
        transition: $mainTransition;

        &:hover {
            background: var(--secondary);
            color: #ffff;
        }

    }
}


.btn {
    background: var(--primary);
    box-shadow: 0px 16px 40px rgba(255, 188, 166, 0.33);
    border-radius: 15px;
    padding: 16px 38px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    display: inline-block;

    transition: .3s all ease;

    @media (max-width: $breakpoint1200) {
        padding: 10px 30px;
        font-size: 16px;
    }

    @media (max-width: $breakpoint992) {
        padding: 6px 22px;
        font-size: 14px;
    }

    @media (max-width: $breakpoint480) {
        flex-shrink: 0;
    }

    &:hover {
        background: var(--secondary);

        svg {
            transform: translate(10px);
            transition: .3s all ease;
        }
    }
}

.btn__outline {
    border-radius: 4px;
    color: var(--neutral);
    padding: 11px 24px;
    display: inline-flex;
    transition: .3s all ease;

    &:hover {
        color: var(--neutral-dark);
        transition: .3s all ease;
    }
}

.section__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 110%;
    letter-spacing: -0.03em;
    color: var(--primary-color);

    @media (max-width: $breakpoint1200) {
        font-size: 36px;
    }

    @media (max-width: $breakpoint992) {
        font-size: 28px;
    }

    span {
        color: var(--contrast-color);
    }
}

.section__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: var(--secondary-color);
    margin-top: 24px;

    @media (max-width: $breakpoint992) {
        font-size: 16px;
        margin-top: 12px;
        line-height: 130%;
    }
}


// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}